# MySQL Database Configuration
MYSQL_DB_SERVER_ADDRESS=localhost
MYSQL_DB_SERVER_PORT=3306
MYSQL_DATABASE=db_name
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_ROOT_PASSWORD=example

# JWT Configuration
JWT_SECRET_KEY=secret_key
JWT_ISSUER=issure
JWT_EXPIRATION_MINUTE=1440

# Swagger Contact Information
SWAGGER_CONTACT_NAME=Your Name
SWAGGER_CONTACT_MAIL=your.email@example.com
SWAGGER_CONTACT_URL=https://example.com
